
.domestic_div{
    
    
    .time{
        padding: 25px 30px;
        font-size: 25px;
        width: 100%;
        text-align: left;
    }
    .ant-row{
        border-radius: 20px;
        overflow: hidden;
    }
    .statistics{
        width: 100%;
        .statisticsCard{
            padding-bottom: 30px;
            padding-top: 15px;
            .cardTitle{
                padding-top: 15px;
                color: rgb(124, 124, 124);
                font-weight: bold;
                font-size: 25px;
                span{
                    color: rgb(204, 30, 30);
                }
            }
            .cardContent{
                font-size: 53px;
                font-weight: bold;
                line-height: 1;
                color:rgb(204, 30, 30);

            }
            .cardbottom{
                font-size: 30px;
                font-weight: bold;
                color: #222;
            }

        }
        
    }
}